nav {
    width: 100vw;
    background-color: #0b0826;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
   
}   

.params {
    display: flex;
    width: 100;
    gap:200px;
    justify-content: center;
}

.param {
    width: 30%;
    display: flex;
}

.param .label {
    width: 46%;
    font-size: 1em;
}

.range-field {
    display: flex;
    gap: 20px;
    font-size: 1.2em;
}

