.sideBar-container {
    display: flex;
    flex-direction: column;
    background-color: #0a2ea9;
    height: 85vh;
    width: 300px;
    color: #fff;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sideBar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height:10%
}

hr {
    border-bottom: 1px solid #fff;  
    width: 100%;
}

.list-container {
    height: 85%;
}

ul{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;

}

ul li {
    display: flex;
    list-style: none;
    cursor: pointer;
    gap: 10px;
    width: 100%;
    font-size: 1.15em;
    
}

ul li:hover {
    font-weight: bold;
}

.sideBar-footer {
    display: flex;
    flex-direction: column;
    height: 10%;
    align-items: center;
    gap:10px;
}

.sideBar-footer:hover {
    background-color: #0b0826;
    border-radius: 10px;
}


button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}



.sideBar-footer-button {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
}

