.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: hidden;
  gap:10px;
  background-color: rgb(31, 32, 61);
  height: 100vh;
}

.app-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bar {
  background-color: teal;
  width: 100px;
}

.bar:hover {
  background-color: teal;
}

.view-container {
  display: flex;
  gap: 10px;
  height: 100%;
  background-color: #0b0826;
  align-items: flex-end;
  justify-content: center;
}