.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: hidden;
  gap:10px;
  background-color: rgb(31, 32, 61);
  height: 100vh;
}

.app-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}
